PellSynapse/pipeline/plExtractLoadHistoricalDataYearlySQLToDataLake.json
{
	"name": "plExtractLoadHistoricalDataYearlySQLToDataLake",
	"properties": {
		"activities": [
			{
				"name": "SetCurrentYear",
				"type": "SetVariable",
				"dependsOn": [],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "varCurrentYear",
					"value": {
						"value": "@formatDateTime(convertTimeZone(utcnow(),'UTC','Central Standard Time'),'yyyy')",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Until",
				"type": "Until",
				"dependsOn": [
					{
						"activity": "GetSQLTableList",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@greater(variables('varExtractDataStartDate'),variables('varExtractDataEndDate'))",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "Set_YYYYMMDD_Path",
							"type": "SetVariable",
							"dependsOn": [],
							"policy": {
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"variableName": "varYYYYMMDD",
								"value": {
									"value": "@formatDateTime(variables('varExtractDataStartDate'),'yyyy/MM/dd_hh_mm')",
									"type": "Expression"
								}
							}
						},
						{
							"name": "ExtractionMethod",
							"type": "Switch",
							"dependsOn": [
								{
									"activity": "SetNextExtractDataEndDateSQL",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"on": {
									"value": "@if(equals(activity('GetSQLTableList').output.value[0].SourceExtractMethod,'SQL'),'SQL',toUpper(activity('GetSQLTableList').output.value[0].SourceExtractMethod))",
									"type": "Expression"
								},
								"cases": [
									{
										"value": "SQL",
										"activities": [
											{
												"name": "CopyOnPremToADLSDeltaSQL",
												"type": "Copy",
												"dependsOn": [],
												"policy": {
													"timeout": "7.00:00:00",
													"retry": 0,
													"retryIntervalInSeconds": 30,
													"secureOutput": false,
													"secureInput": false
												},
												"userProperties": [],
												"typeProperties": {
													"source": {
														"type": "SqlServerSource",
														"sqlReaderQuery": {
															"value": "@{activity('GetSQLTableList').output.value[0].SourceExtractSQL} \nWHERE (@{activity('GetSQLTableList').output.value[0].DeltaUpdateWatermarkColumnName} IS NOT NULL \nAND @{activity('GetSQLTableList').output.value[0].DeltaUpdateWatermarkColumnName} >= \nCAST('@{variables('varCurrentStartDate')}' as datetime2(0)) \nAND @{activity('GetSQLTableList').output.value[0].DeltaUpdateWatermarkColumnName} < \nCAST ('@{variables('varCurrentEndDate')}' as datetime2(0)));",
															"type": "Expression"
														},
														"queryTimeout": "02:00:00",
														"partitionOption": "None"
													},
													"sink": {
														"type": "ParquetSink",
														"storeSettings": {
															"type": "AzureBlobFSWriteSettings"
														},
														"formatSettings": {
															"type": "ParquetWriteSettings"
														}
													},
													"enableStaging": false,
													"translator": {
														"type": "TabularTranslator",
														"typeConversion": true,
														"typeConversionSettings": {
															"allowDataTruncation": true,
															"treatBooleanAsNumber": false
														}
													}
												},
												"inputs": [
													{
														"referenceName": "dsSqlParam",
														"type": "DatasetReference",
														"parameters": {
															"pServer": {
																"value": "@activity('GetSQLTableList').output.value[0].SourceServerName",
																"type": "Expression"
															},
															"pDatabase": {
																"value": "@activity('GetSQLTableList').output.value[0].DatabaseName",
																"type": "Expression"
															},
															"pUser": {
																"value": "@activity('GetSQLTableList').output.value[0].SourceUserName",
																"type": "Expression"
															},
															"pSecret": {
																"value": "@activity('GetSQLTableList').output.value[0].SourceKeyVaultSecretName",
																"type": "Expression"
															},
															"pSchemaName": {
																"value": "@activity('GetSQLTableList').output.value[0].SourceSchemaName",
																"type": "Expression"
															},
															"pTableName": {
																"value": "@activity('GetSQLTableList').output.value[0].SourceTableName",
																"type": "Expression"
															}
														}
													}
												],
												"outputs": [
													{
														"referenceName": "dsADLSParquetParam",
														"type": "DatasetReference",
														"parameters": {
															"pDataLakeContainer": {
																"value": "@activity('GetSQLTableList').output.value[0].DataLakeDestinationContainer",
																"type": "Expression"
															},
															"pDataLakeDirectory": {
																"value": "@concat(activity('GetSQLTableList').output.value[0].DataLakeDestinationFolder,'/',activity('GetSQLTableList').output.value[0].SourceServerName,'/',activity('GetSQLTableList').output.value[0].SourceDatabaseName,'/delta/',toLower(activity('GetSQLTableList').output.value[0].SourceSchemaName),'/',activity('GetSQLTableList').output.value[0].SourceTableName,'/',variables('varYYYYMMDD'))",
																"type": "Expression"
															},
															"pDataLakeFile": {
																"value": "@concat('delta_',toLower(activity('GetSQLTableList').output.value[0].SourceTableName),'_',formatDateTime(variables('varExtractDataEndDate'),'yyyy_MM_dd_HH_mm_ss'),'_cst.parquet')",
																"type": "Expression"
															}
														}
													}
												]
											},
											{
												"name": "LogCopySuccessDeltaSQL",
												"type": "Copy",
												"dependsOn": [
													{
														"activity": "CopyOnPremToADLSDeltaSQL",
														"dependencyConditions": [
															"Succeeded"
														]
													}
												],
												"policy": {
													"timeout": "7.00:00:00",
													"retry": 0,
													"retryIntervalInSeconds": 30,
													"secureOutput": false,
													"secureInput": false
												},
												"userProperties": [],
												"typeProperties": {
													"source": {
														"type": "AzureSqlSource",
														"sqlReaderQuery": {
															"value": "SELECT '@{pipeline().DataFactory}' as DataFactoryName,\n'@{pipeline().Pipeline}' as PipelineName,\n'@{pipeline().RunId}' as RunId,\n'SQL_To_DataLake' as SourceToTargetType,\n'@{activity('GetSQLTableList').output.value[0].SourceExtractMethod}' as SourceExtractMethod,\n'@{activity('GetSQLTableList').output.value[0].SourceFullExtractOverrideFlag}' as SourceFullExtractOverrideFlag,\n'@{activity('GetSQLTableList').output.value[0].SourceServerName}' as SourceServerName,\n'@{activity('GetSQLTableList').output.value[0].SourceDatabaseName}' as SourceDatabaseName,\n'@{activity('GetSQLTableList').output.value[0].SourceSchemaName}' as SourceSchemaName,\n'@{activity('GetSQLTableList').output.value[0].SourceTableName}' as SourceTableName,\n'@{activity('GetSQLTableList').output.value[0].DataLakeDestinationContainer}' as TargetDataLakeContainerName,\n'@{concat(activity('GetSQLTableList').output.value[0].DataLakeDestinationFolder,'/DELTA/',activity('GetSQLTableList').output.value[0].SourceSchemaName,'/',activity('GetSQLTableList').output.value[0].SourceTableName,'/',variables('varYYYYMMDD'))}' as TargetDirectoryName,\n'@{concat('DELTA_',activity('GetSQLTableList').output.value[0].SourceTableName,'_',variables('varExtractDataEndDate'),'.parquet')}' as TargetFileName,\n'@{pipeline().TriggerType}' as TriggerType,\n'@{pipeline().TriggerID}' as TriggerId,\n'@{pipeline().TriggerName}' as TriggerName,\n'@{pipeline().TriggerTime}' as TriggerTime,\n'@{activity('CopyOnPremToADLSDeltaSQL').output.rowsCopied}' as RowsCopied,\n'@{activity('CopyOnPremToADLSDeltaSQL').output.rowsRead}' as RowsRead,\n'@{activity('CopyOnPremToADLSDeltaSQL').output.usedParallelCopies}' as NoParallelCopies,\n'@{activity('CopyOnPremToADLSDeltaSQL').output.copyDuration}' as CopyDurationInSecs,\n'@{activity('CopyOnPremToADLSDeltaSQL').output.effectiveIntegrationRuntime}' as effectiveIntegrationRuntime,\n'@{activity('CopyOnPremToADLSDeltaSQL').output.executionDetails[0].source}' as SourceType,\n'@{activity('CopyOnPremToADLSDeltaSQL').output.executionDetails[0].sink}' as SinkType,\n'@{activity('CopyOnPremToADLSDeltaSQL').output.executionDetails[0].status}' as ExecutionStatus,\n'@{activity('CopyOnPremToADLSDeltaSQL').output.executionDetails[0].start}' as CopyActivityStartTime,\n'@{utcnow()}' as CopyActivityEndTime,\n'@{activity('CopyOnPremToADLSDeltaSQL').output.executionDetails[0].detailedDurations.queuingDuration}' as CopyActivityQueuingDurationInSecs,\n'@{activity('CopyOnPremToADLSDeltaSQL').output.executionDetails[0].detailedDurations.timeToFirstByte}' as CopyActivityPreCopyScriptDurationInSecs,\n'@{activity('CopyOnPremToADLSDeltaSQL').output.executionDetails[0].detailedDurations.transferDuration}' as CopyActivityTransferDurationInSecs,\nnull as ErrorMessage",
															"type": "Expression"
														},
														"queryTimeout": "02:00:00",
														"partitionOption": "None"
													},
													"sink": {
														"type": "AzureSqlSink"
													},
													"enableStaging": false,
													"translator": {
														"type": "TabularTranslator",
														"typeConversion": true,
														"typeConversionSettings": {
															"allowDataTruncation": true,
															"treatBooleanAsNumber": false
														}
													}
												},
												"inputs": [
													{
														"referenceName": "dsAzureSQLParam",
														"type": "DatasetReference",
														"parameters": {
															"pSecretName": {
																"value": "@pipeline().parameters.pAzureSQLSecretName",
																"type": "Expression"
															},
															"pSchemaName": {
																"value": "@pipeline().parameters.pAzureSQLSchemaName",
																"type": "Expression"
															},
															"pTableName": {
																"value": "@pipeline().parameters.pAzureSQLTableName",
																"type": "Expression"
															}
														}
													}
												],
												"outputs": [
													{
														"referenceName": "dsAzureSQLParam",
														"type": "DatasetReference",
														"parameters": {
															"pSecretName": {
																"value": "@pipeline().parameters.pAzureSQLSecretName",
																"type": "Expression"
															},
															"pSchemaName": {
																"value": "@activity('GetSQLTableList').output.value[0].AuditSchemaName",
																"type": "Expression"
															},
															"pTableName": {
																"value": "@activity('GetSQLTableList').output.value[0].AuditTableName",
																"type": "Expression"
															}
														}
													}
												]
											},
											{
												"name": "LogCopyFailureDeltaSQL",
												"type": "Copy",
												"dependsOn": [
													{
														"activity": "CopyOnPremToADLSDeltaSQL",
														"dependencyConditions": [
															"Failed"
														]
													}
												],
												"policy": {
													"timeout": "7.00:00:00",
													"retry": 0,
													"retryIntervalInSeconds": 30,
													"secureOutput": false,
													"secureInput": false
												},
												"userProperties": [],
												"typeProperties": {
													"source": {
														"type": "AzureSqlSource",
														"sqlReaderQuery": {
															"value": "SELECT '@{pipeline().DataFactory}' as DataFactoryName,\n'@{pipeline().Pipeline}' as PipelineName,\n'@{pipeline().RunId}' as RunId,\n'SQL_To_DataLake' as SourceToTargetType,\n'@{activity('GetSQLTableList').output.value[0].SourceExtractMethod}' as SourceExtractMethod,\n'@{activity('GetSQLTableList').output.value[0].SourceFullExtractOverrideFlag}' as SourceFullExtractOverrideFlag,\n'@{activity('GetSQLTableList').output.value[0].SourceServerName}' as SourceServerName,\n'@{activity('GetSQLTableList').output.value[0].SourceDatabaseName}' as SourceDatabaseName,\n'@{activity('GetSQLTableList').output.value[0].SourceSchemaName}' as SourceSchemaName,\n'@{activity('GetSQLTableList').output.value[0].SourceTableName}' as SourceTableName,\n'@{activity('GetSQLTableList').output.value[0].DataLakeDestinationContainer}' as TargetDataLakeContainerName,\n'@{concat(activity('GetSQLTableList').output.value[0].DataLakeDestinationFolder,'/DELTA/',activity('GetSQLTableList').output.value[0].SourceSchemaName,'/',activity('GetSQLTableList').output.value[0].SourceTableName,'/',variables('varYYYYMMDD'))}' as TargetDirectoryName,\n'@{concat('DELTA_',activity('GetSQLTableList').output.value[0].SourceTableName,'_',variables('varExtractDataEndDate'),'.parquet')}' as TargetFileName,\n'@{pipeline().TriggerType}' as TriggerType,\n'@{pipeline().TriggerID}' as TriggerId,\n'@{pipeline().TriggerName}' as TriggerName,\n'@{pipeline().TriggerTime}' as TriggerTime,\nnull as RowsCopied,\nnull as RowsRead,\n'@{activity('CopyOnPremToADLSDeltaSQL').output.usedParallelCopies}' as NoParallelCopies,\n'@{activity('CopyOnPremToADLSDeltaSQL').output.copyDuration}' as CopyDurationInSecs,\n'@{activity('CopyOnPremToADLSDeltaSQL').output.effectiveIntegrationRuntime}' as effectiveIntegrationRuntime,\n'@{activity('CopyOnPremToADLSDeltaSQL').output.executionDetails[0].source}' as SourceType,\n'@{activity('CopyOnPremToADLSDeltaSQL').output.executionDetails[0].sink}' as SinkType,\n'@{activity('CopyOnPremToADLSDeltaSQL').output.executionDetails[0].status}' as ExecutionStatus,\n'@{activity('CopyOnPremToADLSDeltaSQL').output.executionDetails[0].start}' as CopyActivityStartTime,\n'@{utcnow()}' as CopyActivityEndTime,\n'' as CopyActivityQueuingDurationInSecs,\n'' as CopyActivityPreCopyScriptDurationInSecs,\n'' as CopyActivityTransferDurationInSecs,\n'@{replace(activity('CopyOnPremToADLSDeltaSQL').output.errors[0].Message,'''','')}' as ErrorMessage",
															"type": "Expression"
														},
														"queryTimeout": "02:00:00",
														"partitionOption": "None"
													},
													"sink": {
														"type": "AzureSqlSink"
													},
													"enableStaging": false,
													"translator": {
														"type": "TabularTranslator",
														"typeConversion": true,
														"typeConversionSettings": {
															"allowDataTruncation": true,
															"treatBooleanAsNumber": false
														}
													}
												},
												"inputs": [
													{
														"referenceName": "dsAzureSQLParam",
														"type": "DatasetReference",
														"parameters": {
															"pSecretName": {
																"value": "@pipeline().parameters.pAzureSQLSecretName",
																"type": "Expression"
															},
															"pSchemaName": {
																"value": "@pipeline().parameters.pAzureSQLSchemaName",
																"type": "Expression"
															},
															"pTableName": {
																"value": "@pipeline().parameters.pAzureSQLTableName",
																"type": "Expression"
															}
														}
													}
												],
												"outputs": [
													{
														"referenceName": "dsAzureSQLParam",
														"type": "DatasetReference",
														"parameters": {
															"pSecretName": {
																"value": "@pipeline().parameters.pAzureSQLSecretName",
																"type": "Expression"
															},
															"pSchemaName": {
																"value": "@activity('GetSQLTableList').output.value[0].AuditSchemaName",
																"type": "Expression"
															},
															"pTableName": {
																"value": "@activity('GetSQLTableList').output.value[0].AuditTableName",
																"type": "Expression"
															}
														}
													}
												]
											},
											{
												"name": "LoadDeltaLakeSQL",
												"type": "DatabricksNotebook",
												"dependsOn": [
													{
														"activity": "LogCopySuccessDeltaSQL",
														"dependencyConditions": [
															"Succeeded"
														]
													}
												],
												"policy": {
													"timeout": "7.00:00:00",
													"retry": 0,
													"retryIntervalInSeconds": 30,
													"secureOutput": false,
													"secureInput": false
												},
												"userProperties": [],
												"typeProperties": {
													"notebookPath": {
														"value": "@variables('varNotebookPath')",
														"type": "Expression"
													},
													"baseParameters": {
														"SourceServerName": {
															"value": "@activity('GetSQLTableList').output.value[0].SourceServerName",
															"type": "Expression"
														},
														"SourceDatabaseName": {
															"value": "@activity('GetSQLTableList').output.value[0].SourceDatabaseName",
															"type": "Expression"
														},
														"SourceSchemaName": {
															"value": "@activity('GetSQLTableList').output.value[0].SourceSchemaName",
															"type": "Expression"
														},
														"SourceTableName": {
															"value": "@activity('GetSQLTableList').output.value[0].SourceTableName",
															"type": "Expression"
														},
														"SourceTablePath": {
															"value": "@concat(activity('GetSQLTableList').output.value[0].DataLakeDestinationFolder,'/',activity('GetSQLTableList').output.value[0].SourceServerName,'/',activity('GetSQLTableList').output.value[0].SourceDatabaseName,'/delta/',toLower(activity('GetSQLTableList').output.value[0].SourceSchemaName),'/',activity('GetSQLTableList').output.value[0].SourceTableName,'/',variables('varYYYYMMDD'),'/')",
															"type": "Expression"
														},
														"SourceExtractMethod": {
															"value": "@activity('GetSQLTableList').output.value[0].SourceExtractMethod",
															"type": "Expression"
														},
														"SourceKeyColumnList": {
															"value": "@activity('GetSQLTableList').output.value[0].SourceKeyColumnList",
															"type": "Expression"
														},
														"DeltaUpdateWatermarkColumnName": {
															"value": "@activity('GetSQLTableList').output.value[0].DeltaUpdateWatermarkColumnName",
															"type": "Expression"
														},
														"HistoryLoadInd": "Y",
														"SCDType": {
															"value": "@activity('GetSQLTableList').output.value[0].SCDType",
															"type": "Expression"
														},
														"UnityCatalogName": {
															"value": "@activity('GetSQLTableList').output.value[0].UnityCatalogName",
															"type": "Expression"
														},
														"UCFlag": {
															"value": "@activity('GetSQLTableList').output.value[0].UCFlag",
															"type": "Expression"
														},
														"UCSchemaPrefix": {
															"value": "@activity('GetSQLTableList').output.value[0].UCSchemaPrefix",
															"type": "Expression"
														},
														"DataLakeDestinationContainer": {
															"value": "@activity('GetSQLTableList').output.value[0].DataLakeDestinationContainer",
															"type": "Expression"
														},
														"StorageAccountName": {
															"value": "@activity('GetSQLTableList').output.value[0].StorageAccountName",
															"type": "Expression"
														}
													}
												},
												"linkedServiceName": {
													"referenceName": "lnkAzureDatabricks",
													"type": "LinkedServiceReference"
												}
											}
										]
									},
									{
										"value": "DELTA",
										"activities": [
											{
												"name": "CopyOnPremToADLSDelta",
												"type": "Copy",
												"dependsOn": [],
												"policy": {
													"timeout": "7.00:00:00",
													"retry": 0,
													"retryIntervalInSeconds": 30,
													"secureOutput": false,
													"secureInput": false
												},
												"userProperties": [],
												"typeProperties": {
													"source": {
														"type": "SqlServerSource",
														"sqlReaderQuery": {
															"value": "SELECT * FROM @{activity('GetSQLTableList').output.value[0].SourceSchemaName}.@{activity('GetSQLTableList').output.value[0].SourceTableName} \nWHERE (@{activity('GetSQLTableList').output.value[0].DeltaUpdateWatermarkColumnName} IS NOT NULL \nAND @{activity('GetSQLTableList').output.value[0].DeltaUpdateWatermarkColumnName} > \nCAST('@{variables('varExtractDataStartDate')}' as datetime2(0)) \nAND @{activity('GetSQLTableList').output.value[0].DeltaUpdateWatermarkColumnName} <= \nCAST ('@{variables('varExtractDataEndDate')}' as datetime2(0)));",
															"type": "Expression"
														},
														"queryTimeout": "02:00:00",
														"partitionOption": "None"
													},
													"sink": {
														"type": "ParquetSink",
														"storeSettings": {
															"type": "AzureBlobFSWriteSettings"
														},
														"formatSettings": {
															"type": "ParquetWriteSettings"
														}
													},
													"enableStaging": false,
													"translator": {
														"type": "TabularTranslator",
														"typeConversion": true,
														"typeConversionSettings": {
															"allowDataTruncation": true,
															"treatBooleanAsNumber": false
														}
													}
												},
												"inputs": [
													{
														"referenceName": "dsSqlParam",
														"type": "DatasetReference",
														"parameters": {
															"pServer": {
																"value": "@activity('GetSQLTableList').output.value[0].SourceServerName",
																"type": "Expression"
															},
															"pDatabase": {
																"value": "@activity('GetSQLTableList').output.value[0].DatabaseName",
																"type": "Expression"
															},
															"pUser": {
																"value": "@activity('GetSQLTableList').output.value[0].SourceUserName",
																"type": "Expression"
															},
															"pSecret": {
																"value": "@activity('GetSQLTableList').output.value[0].SourceKeyVaultSecretName",
																"type": "Expression"
															},
															"pSchemaName": {
																"value": "@activity('GetSQLTableList').output.value[0].SourceSchemaName",
																"type": "Expression"
															},
															"pTableName": {
																"value": "@activity('GetSQLTableList').output.value[0].SourceTableName",
																"type": "Expression"
															}
														}
													}
												],
												"outputs": [
													{
														"referenceName": "dsADLSParquetParam",
														"type": "DatasetReference",
														"parameters": {
															"pDataLakeContainer": {
																"value": "@activity('GetSQLTableList').output.value[0].DataLakeDestinationContainer",
																"type": "Expression"
															},
															"pDataLakeDirectory": {
																"value": "@concat(activity('GetSQLTableList').output.value[0].DataLakeDestinationFolder,'/',activity('GetSQLTableList').output.value[0].SourceServerName,'/',activity('GetSQLTableList').output.value[0].SourceDatabaseName,'/delta/',toLower(activity('GetSQLTableList').output.value[0].SourceSchemaName),'/',activity('GetSQLTableList').output.value[0].SourceTableName,'/',variables('varYYYYMMDD'))",
																"type": "Expression"
															},
															"pDataLakeFile": {
																"value": "@concat('delta_',toLower(activity('GetSQLTableList').output.value[0].SourceTableName),'_',formatDateTime(variables('varExtractDataEndDate'),'yyyy_MM_dd_HH_mm_ss'),'_cst.parquet')",
																"type": "Expression"
															}
														}
													}
												]
											},
											{
												"name": "LogCopySuccessDelta",
												"type": "Copy",
												"dependsOn": [
													{
														"activity": "CopyOnPremToADLSDelta",
														"dependencyConditions": [
															"Succeeded"
														]
													}
												],
												"policy": {
													"timeout": "7.00:00:00",
													"retry": 0,
													"retryIntervalInSeconds": 30,
													"secureOutput": false,
													"secureInput": false
												},
												"userProperties": [],
												"typeProperties": {
													"source": {
														"type": "AzureSqlSource",
														"sqlReaderQuery": {
															"value": "SELECT '@{pipeline().DataFactory}' as DataFactoryName,\n'@{pipeline().Pipeline}' as PipelineName,\n'@{pipeline().RunId}' as RunId,\n'SQL_To_DataLake' as SourceToTargetType,\n'@{activity('GetSQLTableList').output.value[0].SourceExtractMethod}' as SourceExtractMethod,\n'@{activity('GetSQLTableList').output.value[0].SourceFullExtractOverrideFlag}' as SourceFullExtractOverrideFlag,\n'@{activity('GetSQLTableList').output.value[0].SourceServerName}' as SourceServerName,\n'@{activity('GetSQLTableList').output.value[0].SourceDatabaseName}' as SourceDatabaseName,\n'@{activity('GetSQLTableList').output.value[0].SourceSchemaName}' as SourceSchemaName,\n'@{activity('GetSQLTableList').output.value[0].SourceTableName}' as SourceTableName,\n'@{activity('GetSQLTableList').output.value[0].DataLakeDestinationContainer}' as TargetDataLakeContainerName,\n'@{concat(activity('GetSQLTableList').output.value[0].DataLakeDestinationFolder,'/DELTA/',activity('GetSQLTableList').output.value[0].SourceSchemaName,'/',activity('GetSQLTableList').output.value[0].SourceTableName,'/',variables('varYYYYMMDD'))}' as TargetDirectoryName,\n'@{concat('DELTA_',activity('GetSQLTableList').output.value[0].SourceTableName,'_',variables('varExtractDataEndDate'),'.parquet')}' as TargetFileName,\n'@{pipeline().TriggerType}' as TriggerType,\n'@{pipeline().TriggerID}' as TriggerId,\n'@{pipeline().TriggerName}' as TriggerName,\n'@{pipeline().TriggerTime}' as TriggerTime,\n'@{activity('CopyOnPremToADLSDelta').output.rowsCopied}' as RowsCopied,\n'@{activity('CopyOnPremToADLSDelta').output.rowsRead}' as RowsRead,\n'@{activity('CopyOnPremToADLSDelta').output.usedParallelCopies}' as NoParallelCopies,\n'@{activity('CopyOnPremToADLSDelta').output.copyDuration}' as CopyDurationInSecs,\n'@{activity('CopyOnPremToADLSDelta').output.effectiveIntegrationRuntime}' as effectiveIntegrationRuntime,\n'@{activity('CopyOnPremToADLSDelta').output.executionDetails[0].source}' as SourceType,\n'@{activity('CopyOnPremToADLSDelta').output.executionDetails[0].sink}' as SinkType,\n'@{activity('CopyOnPremToADLSDelta').output.executionDetails[0].status}' as ExecutionStatus,\n'@{activity('CopyOnPremToADLSDelta').output.executionDetails[0].start}' as CopyActivityStartTime,\n'@{utcnow()}' as CopyActivityEndTime,\n'@{activity('CopyOnPremToADLSDelta').output.executionDetails[0].detailedDurations.queuingDuration}' as CopyActivityQueuingDurationInSecs,\n'@{activity('CopyOnPremToADLSDelta').output.executionDetails[0].detailedDurations.timeToFirstByte}' as CopyActivityPreCopyScriptDurationInSecs,\n'@{activity('CopyOnPremToADLSDelta').output.executionDetails[0].detailedDurations.transferDuration}' as CopyActivityTransferDurationInSecs,\nnull as ErrorMessage",
															"type": "Expression"
														},
														"queryTimeout": "02:00:00",
														"partitionOption": "None"
													},
													"sink": {
														"type": "AzureSqlSink"
													},
													"enableStaging": false,
													"translator": {
														"type": "TabularTranslator",
														"typeConversion": true,
														"typeConversionSettings": {
															"allowDataTruncation": true,
															"treatBooleanAsNumber": false
														}
													}
												},
												"inputs": [
													{
														"referenceName": "dsAzureSQLParam",
														"type": "DatasetReference",
														"parameters": {
															"pSecretName": {
																"value": "@pipeline().parameters.pAzureSQLSecretName",
																"type": "Expression"
															},
															"pSchemaName": {
																"value": "@pipeline().parameters.pAzureSQLSchemaName",
																"type": "Expression"
															},
															"pTableName": {
																"value": "@pipeline().parameters.pAzureSQLTableName",
																"type": "Expression"
															}
														}
													}
												],
												"outputs": [
													{
														"referenceName": "dsAzureSQLParam",
														"type": "DatasetReference",
														"parameters": {
															"pSecretName": {
																"value": "@pipeline().parameters.pAzureSQLSecretName",
																"type": "Expression"
															},
															"pSchemaName": {
																"value": "@activity('GetSQLTableList').output.value[0].AuditSchemaName",
																"type": "Expression"
															},
															"pTableName": {
																"value": "@activity('GetSQLTableList').output.value[0].AuditTableName",
																"type": "Expression"
															}
														}
													}
												]
											},
											{
												"name": "LogCopyFailureDelta",
												"type": "Copy",
												"dependsOn": [
													{
														"activity": "CopyOnPremToADLSDelta",
														"dependencyConditions": [
															"Failed"
														]
													}
												],
												"policy": {
													"timeout": "7.00:00:00",
													"retry": 0,
													"retryIntervalInSeconds": 30,
													"secureOutput": false,
													"secureInput": false
												},
												"userProperties": [],
												"typeProperties": {
													"source": {
														"type": "AzureSqlSource",
														"sqlReaderQuery": {
															"value": "SELECT '@{pipeline().DataFactory}' as DataFactoryName,\n'@{pipeline().Pipeline}' as PipelineName,\n'@{pipeline().RunId}' as RunId,\n'SQL_To_DataLake' as SourceToTargetType,\n'@{activity('GetSQLTableList').output.value[0].SourceExtractMethod}' as SourceExtractMethod,\n'@{activity('GetSQLTableList').output.value[0].SourceFullExtractOverrideFlag}' as SourceFullExtractOverrideFlag,\n'@{activity('GetSQLTableList').output.value[0].SourceServerName}' as SourceServerName,\n'@{activity('GetSQLTableList').output.value[0].SourceDatabaseName}' as SourceDatabaseName,\n'@{activity('GetSQLTableList').output.value[0].SourceSchemaName}' as SourceSchemaName,\n'@{activity('GetSQLTableList').output.value[0].SourceTableName}' as SourceTableName,\n'@{activity('GetSQLTableList').output.value[0].DataLakeDestinationContainer}' as TargetDataLakeContainerName,\n'@{concat(activity('GetSQLTableList').output.value[0].DataLakeDestinationFolder,'/DELTA/',activity('GetSQLTableList').output.value[0].SourceSchemaName,'/',activity('GetSQLTableList').output.value[0].SourceTableName,'/',variables('varYYYYMMDD'))}' as TargetDirectoryName,\n'@{concat('DELTA_',activity('GetSQLTableList').output.value[0].SourceTableName,'_',variables('varExtractDataEndDate'),'.parquet')}' as TargetFileName,\n'@{pipeline().TriggerType}' as TriggerType,\n'@{pipeline().TriggerID}' as TriggerId,\n'@{pipeline().TriggerName}' as TriggerName,\n'@{pipeline().TriggerTime}' as TriggerTime,\nnull as RowsCopied,\nnull as RowsRead,\n'@{activity('CopyOnPremToADLSDelta').output.usedParallelCopies}' as NoParallelCopies,\n'@{activity('CopyOnPremToADLSDelta').output.copyDuration}' as CopyDurationInSecs,\n'@{activity('CopyOnPremToADLSDelta').output.effectiveIntegrationRuntime}' as effectiveIntegrationRuntime,\n'@{activity('CopyOnPremToADLSDelta').output.executionDetails[0].source}' as SourceType,\n'@{activity('CopyOnPremToADLSDelta').output.executionDetails[0].sink}' as SinkType,\n'@{activity('CopyOnPremToADLSDelta').output.executionDetails[0].status}' as ExecutionStatus,\n'@{activity('CopyOnPremToADLSDelta').output.executionDetails[0].start}' as CopyActivityStartTime,\n'@{utcnow()}' as CopyActivityEndTime,\n'' as CopyActivityQueuingDurationInSecs,\n'' as CopyActivityPreCopyScriptDurationInSecs,\n'' as CopyActivityTransferDurationInSecs,\n'@{replace(activity('CopyOnPremToADLSDelta').output.errors[0].Message,'''','')}' as ErrorMessage",
															"type": "Expression"
														},
														"queryTimeout": "02:00:00",
														"partitionOption": "None"
													},
													"sink": {
														"type": "AzureSqlSink"
													},
													"enableStaging": false,
													"translator": {
														"type": "TabularTranslator",
														"typeConversion": true,
														"typeConversionSettings": {
															"allowDataTruncation": true,
															"treatBooleanAsNumber": false
														}
													}
												},
												"inputs": [
													{
														"referenceName": "dsAzureSQLParam",
														"type": "DatasetReference",
														"parameters": {
															"pSecretName": {
																"value": "@pipeline().parameters.pAzureSQLSecretName",
																"type": "Expression"
															},
															"pSchemaName": {
																"value": "@pipeline().parameters.pAzureSQLSchemaName",
																"type": "Expression"
															},
															"pTableName": {
																"value": "@pipeline().parameters.pAzureSQLTableName",
																"type": "Expression"
															}
														}
													}
												],
												"outputs": [
													{
														"referenceName": "dsAzureSQLParam",
														"type": "DatasetReference",
														"parameters": {
															"pSecretName": {
																"value": "@pipeline().parameters.pAzureSQLSecretName",
																"type": "Expression"
															},
															"pSchemaName": {
																"value": "@activity('GetSQLTableList').output.value[0].AuditSchemaName",
																"type": "Expression"
															},
															"pTableName": {
																"value": "@activity('GetSQLTableList').output.value[0].AuditTableName",
																"type": "Expression"
															}
														}
													}
												]
											},
											{
												"name": "LoadDeltaLake",
												"type": "DatabricksNotebook",
												"dependsOn": [
													{
														"activity": "LogCopySuccessDelta",
														"dependencyConditions": [
															"Succeeded"
														]
													}
												],
												"policy": {
													"timeout": "7.00:00:00",
													"retry": 0,
													"retryIntervalInSeconds": 30,
													"secureOutput": false,
													"secureInput": false
												},
												"userProperties": [],
												"typeProperties": {
													"notebookPath": {
														"value": "@variables('varNotebookPath')",
														"type": "Expression"
													},
													"baseParameters": {
														"SourceServerName": {
															"value": "@activity('GetSQLTableList').output.value[0].SourceServerName",
															"type": "Expression"
														},
														"SourceDatabaseName": {
															"value": "@activity('GetSQLTableList').output.value[0].SourceDatabaseName",
															"type": "Expression"
														},
														"SourceSchemaName": {
															"value": "@activity('GetSQLTableList').output.value[0].SourceSchemaName",
															"type": "Expression"
														},
														"SourceTableName": {
															"value": "@activity('GetSQLTableList').output.value[0].SourceTableName",
															"type": "Expression"
														},
														"SourceTablePath": {
															"value": "@concat(activity('GetSQLTableList').output.value[0].DataLakeDestinationFolder,'/',activity('GetSQLTableList').output.value[0].SourceServerName,'/',activity('GetSQLTableList').output.value[0].SourceDatabaseName,'/delta/',toLower(activity('GetSQLTableList').output.value[0].SourceSchemaName),'/',activity('GetSQLTableList').output.value[0].SourceTableName,'/',variables('varYYYYMMDD'),'/')",
															"type": "Expression"
														},
														"SourceExtractMethod": {
															"value": "@activity('GetSQLTableList').output.value[0].SourceExtractMethod",
															"type": "Expression"
														},
														"SourceKeyColumnList": {
															"value": "@activity('GetSQLTableList').output.value[0].SourceKeyColumnList",
															"type": "Expression"
														},
														"DeltaUpdateWatermarkColumnName": {
															"value": "@activity('GetSQLTableList').output.value[0].DeltaUpdateWatermarkColumnName",
															"type": "Expression"
														},
														"HistoryLoadInd": "Y",
														"SCDType": {
															"value": "@activity('GetSQLTableList').output.value[0].SCDType",
															"type": "Expression"
														},
														"UnityCatalogName": {
															"value": "@activity('GetSQLTableList').output.value[0].UnityCatalogName",
															"type": "Expression"
														},
														"UCFlag": {
															"value": "@activity('GetSQLTableList').output.value[0].UCFlag",
															"type": "Expression"
														},
														"UCSchemaPrefix": {
															"value": "@activity('GetSQLTableList').output.value[0].UCSchemaPrefix",
															"type": "Expression"
														},
														"DataLakeDestinationContainer": {
															"value": "@activity('GetSQLTableList').output.value[0].DataLakeDestinationContainer",
															"type": "Expression"
														},
														"StorageAccountName": {
															"value": "@activity('GetSQLTableList').output.value[0].StorageAccountName",
															"type": "Expression"
														}
													}
												},
												"linkedServiceName": {
													"referenceName": "lnkAzureDatabricks",
													"type": "LinkedServiceReference"
												}
											}
										]
									}
								]
							}
						},
						{
							"name": "SetNextExtractDataEndDateSQL",
							"type": "SetVariable",
							"dependsOn": [
								{
									"activity": "SetNextExtractDataStartDateSQL",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"variableName": "varCurrentEndDate",
								"value": {
									"value": "@if(greater(int(variables('varDifference')),pipeline().parameters.pExtractDataDurationInDays),formatDateTime(addToTime(variables('varExtractDataStartDate'),pipeline().parameters.pExtractDataDurationInDays,'Day'),\n'yyyy-MM-dd HH:mm:ss'),formatDateTime(variables('varExtractDataEndDate'),'yyyy-MM-dd HH:mm:ss'))",
									"type": "Expression"
								}
							}
						},
						{
							"name": "SetNextExtractDataStartDateSQL",
							"type": "SetVariable",
							"dependsOn": [
								{
									"activity": "GetDaysDifference",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"variableName": "varCurrentStartDate",
								"value": {
									"value": "@formatDateTime(variables('varExtractDataStartDate'),'yyyy-MM-dd HH:mm:ss')",
									"type": "Expression"
								}
							}
						},
						{
							"name": "GetDaysDifference",
							"type": "SetVariable",
							"dependsOn": [
								{
									"activity": "Set_YYYYMMDD_Path",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"variableName": "varDifference",
								"value": {
									"value": "@string(div(sub(ticks(variables('varExtractDataEndDate')),ticks(variables('varExtractDataStartDate'))),864000000000))",
									"type": "Expression"
								}
							}
						},
						{
							"name": "IncrementStartDateSuccess",
							"type": "SetVariable",
							"dependsOn": [
								{
									"activity": "ExtractionMethod",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"variableName": "varExtractDataStartDate",
								"value": {
									"value": "@addToTime(variables('varCurrentStartDate'),pipeline().parameters.pExtractDataDurationInDays,'Day')",
									"type": "Expression"
								}
							}
						},
						{
							"name": "IncrementStartDateFailure",
							"type": "SetVariable",
							"dependsOn": [
								{
									"activity": "ExtractionMethod",
									"dependencyConditions": [
										"Failed"
									]
								}
							],
							"policy": {
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"variableName": "varExtractDataStartDate",
								"value": {
									"value": "@addToTime(variables('varCurrentStartDate'),pipeline().parameters.pExtractDataDurationInDays,'Day')",
									"type": "Expression"
								}
							}
						}
					],
					"timeout": "7.00:00:00"
				}
			},
			{
				"name": "SetExtractDataStartDate",
				"type": "SetVariable",
				"dependsOn": [],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "varExtractDataStartDate",
					"value": {
						"value": "@formatDateTime(pipeline().parameters.pExtractDataFrom,'yyyy-MM-dd HH:mm:ss')",
						"type": "Expression"
					}
				}
			},
			{
				"name": "SetExtractDataEndDate",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "SetExtractDataStartDate",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "varExtractDataEndDate",
					"value": {
						"value": "@if(equals(pipeline().parameters.pExtractDataToDate,'NA'),formatDateTime(convertTimeZone(utcnow(),'UTC','Central Standard Time'),'yyyy-MM-dd HH:mm:ss'),formatDateTime(pipeline().parameters.pExtractDataToDate,'yyyy-MM-dd HH:mm:ss'))\n",
						"type": "Expression"
					}
				}
			},
			{
				"name": "GetSQLTableList",
				"description": "getting the list of Sql tables from control table stored in Azure SQL",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "SetCurrentYear",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "SetExtractDataEndDate",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": {
							"value": "select cts.*, lsc.*, utc.UnityCatalogName, utc.StorageAccountName,convert(varchar,isnull(DeltaLastWatermarkDateTime,'1900-01-01'),120) as FormattedLastWatermarkDateTime \nfrom etl.ControlTableSourceToAdlsLoad cts \ninner join etl.LinkedServiceConnectionStore lsc on cts.SourceDatabaseName = lsc.DatabaseName\ninner join etl.UnityCatalogConnectionStore utc on cts.IsActiveFlag = utc.IsActiveFlag\nwhere \nlsc.SourceServerName = '@{pipeline().parameters.pSourceServerName}'\nand cts.SourceDatabaseName = '@{pipeline().parameters.pSourceDatabaseName}'\nand cts.SourceSchemaName = '@{pipeline().parameters.pSourceSchemaName}'\nand cts.SourceTableName = '@{pipeline().parameters.pSourceTableName}'\nand cts.SourceType = 'SQLServer'",
							"type": "Expression"
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "dsAzureSQLParam",
						"type": "DatasetReference",
						"parameters": {
							"pSecretName": {
								"value": "@pipeline().parameters.pAzureSQLSecretName",
								"type": "Expression"
							},
							"pSchemaName": {
								"value": "@pipeline().parameters.pAzureSQLSchemaName",
								"type": "Expression"
							},
							"pTableName": {
								"value": "@pipeline().parameters.pAzureSQLTableName",
								"type": "Expression"
							}
						}
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "UpdateControlTable",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "Until",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "etl.UpdateControlTableSetHistoricalDataLoadYearFlag",
					"storedProcedureParameters": {
						"SourceServerName": {
							"value": {
								"value": "@activity('GetSQLTableList').output.value[0].SourceServerName",
								"type": "Expression"
							},
							"type": "String"
						},
						"SourceDatabaseName": {
							"value": {
								"value": "@activity('GetSQLTableList').output.value[0].SourceDatabaseName",
								"type": "Expression"
							},
							"type": "String"
						},
						"SourceSchemaName": {
							"value": {
								"value": "@activity('GetSQLTableList').output.value[0].SourceSchemaName",
								"type": "Expression"
							},
							"type": "String"
						},
						"SourceTableName": {
							"value": {
								"value": "@activity('GetSQLTableList').output.value[0].SourceTableName",
								"type": "Expression"
							},
							"type": "String"
						},
						"SourceType": {
							"value": {
								"value": "@activity('GetSQLTableList').output.value[0].SourceType",
								"type": "Expression"
							},
							"type": "String"
						},
						"WatermarkDateTime": {
							"value": {
								"value": "@variables('varExtractDataEndDate')",
								"type": "Expression"
							},
							"type": "Datetime"
						},
						"SourceExtractMethod": {
							"value": {
								"value": "@activity('GetSQLTableList').output.value[0].SourceExtractMethod",
								"type": "Expression"
							},
							"type": "String"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "lnkAzureSqlParameterized",
					"type": "LinkedServiceReference",
					"parameters": {
						"SecretName": {
							"value": "@pipeline().parameters.pAzureSQLSecretName",
							"type": "Expression"
						}
					}
				}
			}
		],
		"parameters": {
			"pExtractDataFrom": {
				"type": "string",
				"defaultValue": "2019-12-01 00:00:00"
			},
			"pAzureSQLServerName": {
				"type": "string",
				"defaultValue": "sqlsvr-datalake-usc-dev.database.windows.net"
			},
			"pAzureSQLDatabaseName": {
				"type": "string",
				"defaultValue": "sqldb-dl-control-usc-dev"
			},
			"pAzureSQLUserName": {
				"type": "string",
				"defaultValue": "DataLake"
			},
			"pAzureSQLSecretName": {
				"type": "string",
				"defaultValue": "DLSqlCntrlConn"
			},
			"pAzureSQLSchemaName": {
				"type": "string",
				"defaultValue": "etl"
			},
			"pAzureSQLTableName": {
				"type": "string",
				"defaultValue": "ControlTableSourceToAdlsLoad"
			},
			"pSourceServerName": {
				"type": "string",
				"defaultValue": "devspqmd20"
			},
			"pSourceDatabaseName": {
				"type": "string",
				"defaultValue": "PellaCenterPoint"
			},
			"pSourceSchemaName": {
				"type": "string",
				"defaultValue": "dbo"
			},
			"pSourceTableName": {
				"type": "string",
				"defaultValue": "LineItems"
			},
			"pPipelineTriggerName": {
				"type": "string",
				"defaultValue": "trgExtractLoadSQLtoDataLake_PQM_Modifier"
			},
			"pExtractDataToDate": {
				"type": "string",
				"defaultValue": "NA"
			},
			"pExtractDataDurationInDays": {
				"type": "int",
				"defaultValue": 365
			}
		},
		"variables": {
			"varExtractDataStartDate": {
				"type": "String"
			},
			"varExtractDataEndDate": {
				"type": "String"
			},
			"varCurrentYear": {
				"type": "String"
			},
			"varYYYYMMDD": {
				"type": "String"
			},
			"varDifference": {
				"type": "String"
			},
			"varCurrentStartDate": {
				"type": "String"
			},
			"varCurrentEndDate": {
				"type": "String"
			},
			"varNotebookPath": {
				"type": "String",
				"defaultValue": "/BronzeToSilverDataProcessing/Load_Silver_Tables"
			}
		},
		"folder": {
			"name": "DataLake"
		},
		"annotations": [],
		"lastPublishTime": "2021-10-26T21:39:16Z"
	},
	"type": "Microsoft.Synapse/workspaces/pipelines"
}