PellSynapse/pipeline/plExtractLoadSQLToDataLakeFieldExtract.json
{
	"name": "plExtractLoadSQLToDataLakeFieldExtract",
	"properties": {
		"activities": [
			{
				"name": "plExtractLoadSQLToDataLake",
				"type": "ExecutePipeline",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "plExtractLoadSQLToDataLake",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true,
					"parameters": {
						"pAzureSQLServerName": {
							"value": "@pipeline().parameters.pAzureSQLServerName",
							"type": "Expression"
						},
						"pAzureSQLDatabaseName": {
							"value": "@pipeline().parameters.pAzureSQLDatabaseName",
							"type": "Expression"
						},
						"pAzureSQLUserName": {
							"value": "@pipeline().parameters.pAzureSQLUserName",
							"type": "Expression"
						},
						"pAzureSQLSecretName": {
							"value": "@pipeline().parameters.pAzureSQLSecretName",
							"type": "Expression"
						},
						"pAzureSQLSchemaName": {
							"value": "@pipeline().parameters.pAzureSQLSchemaName",
							"type": "Expression"
						},
						"pAzureSQLTableName": {
							"value": "@pipeline().parameters.pAzureSQLTableName",
							"type": "Expression"
						},
						"PipelineTriggerName": {
							"value": "@pipeline().parameters.pPipelineTriggerName",
							"type": "Expression"
						}
					}
				}
			},
			{
				"name": "CompressedFieldExtractLineItems",
				"description": "This notebook loads and extract the compressed fields for LineItems table.",
				"type": "DatabricksNotebook",
				"dependsOn": [
					{
						"activity": "plExtractLoadSQLToDataLake",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"notebookPath": {
						"value": "@variables('varNoteBookExtractLineItems')",
						"type": "Expression"
					},
					"baseParameters": {
						"UnityCatalogName": {
							"value": "@pipeline().parameters.pUnityCatalogName",
							"type": "Expression"
						},
						"StorageAccountName": {
							"value": "@pipeline().parameters.pStorageAccountName",
							"type": "Expression"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "lnkAzureDatabricks",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "CompressedFieldExtractQuotes",
				"description": "This notebook loads and extract the compressed fields for Quotes table.",
				"type": "DatabricksNotebook",
				"dependsOn": [
					{
						"activity": "CompressedFieldExtractLineItems",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"notebookPath": {
						"value": "@variables('varBoteBookExtractQuotes')",
						"type": "Expression"
					},
					"baseParameters": {
						"UnityCatalogName": {
							"value": "@pipeline().parameters.pUnityCatalogName",
							"type": "Expression"
						},
						"StorageAccountName": {
							"value": "@pipeline().parameters.pStorageAccountName",
							"type": "Expression"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "lnkAzureDatabricks",
					"type": "LinkedServiceReference"
				}
			}
		],
		"parameters": {
			"pAzureSQLServerName": {
				"type": "string",
				"defaultValue": "sqlsvr-datalake-usc-dev.database.windows.net"
			},
			"pAzureSQLDatabaseName": {
				"type": "string",
				"defaultValue": "sqldb-dl-control-usc-dev"
			},
			"pAzureSQLUserName": {
				"type": "string",
				"defaultValue": "DataLake"
			},
			"pAzureSQLSecretName": {
				"type": "string",
				"defaultValue": "DLSqlCntrlConn"
			},
			"pAzureSQLSchemaName": {
				"type": "string",
				"defaultValue": "etl"
			},
			"pAzureSQLTableName": {
				"type": "string",
				"defaultValue": "ControlTableSourceToAdlsLoad"
			},
			"pPipelineTriggerName": {
				"type": "string",
				"defaultValue": "trgExtraxctLoadSQLtoDataLake_PQM"
			},
			"pUnityCatalogName": {
				"type": "string",
				"defaultValue": "dev_bronze"
			},
			"pStorageAccountName": {
				"type": "string",
				"defaultValue": "stdlalds2uscdev"
			}
		},
		"variables": {
			"varNoteBookExtractLineItems": {
				"type": "String",
				"defaultValue": "/PQM/Compressed Field Extract LineItems"
			},
			"varBoteBookExtractQuotes": {
				"type": "String",
				"defaultValue": "/PQM/Compressed Field Extract Quotes"
			}
		},
		"folder": {
			"name": "PQM"
		},
		"annotations": []
	}
}