PellSynapse/pipeline/plProfiseeImport.json
{
	"name": "plProfiseeImport",
	"properties": {
		"activities": [
			{
				"name": "GetProfiseeEntities",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": {
							"value": "@concat('select * from etl.ControlTableProfisee where Sequence=',string(pipeline().parameters.sequenceId))",
							"type": "Expression"
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "dsAzureSQLParam",
						"type": "DatasetReference",
						"parameters": {
							"pSecretName": {
								"value": "@pipeline().parameters.pAzureSQLSecretName",
								"type": "Expression"
							},
							"pSchemaName": {
								"value": "@pipeline().parameters.pAzureSQLSchemaName",
								"type": "Expression"
							},
							"pTableName": {
								"value": "@pipeline().parameters.pAzureSQLTableName",
								"type": "Expression"
							}
						}
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "ForEachEntity",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "GetProfiseeEntities",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('GetProfiseeEntities').output.value",
						"type": "Expression"
					},
					"isSequential": false,
					"batchCount": 10,
					"activities": [
						{
							"name": "GL_ProfiseeLoad_Generic",
							"type": "DatabricksNotebook",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"notebookPath": "/BronzeToSilverDataProcessing/Initial_Load_Profisee",
								"baseParameters": {
									"pProfiseeHostname": {
										"value": "@pipeline().parameters.pProfiseeHostname",
										"type": "Expression"
									},
									"pProfiseeDatabase": {
										"value": "@pipeline().parameters.pProfiseeDatabase",
										"type": "Expression"
									},
									"pProfiseeUsername": {
										"value": "@pipeline().parameters.pProfiseeUsername",
										"type": "Expression"
									},
									"pProfiseePwd": {
										"value": "@pipeline().parameters.pProfiseePasswordKey",
										"type": "Expression"
									},
									"pDatabricksScope": {
										"value": "@pipeline().parameters.pDatabricksScope",
										"type": "Expression"
									},
									"pProfiseeAPIKey": {
										"value": "@pipeline().parameters.pProfiseeAPIKey",
										"type": "Expression"
									},
									"pProfiseeHostURL": {
										"value": "@pipeline().parameters.pProfiseeHostURL",
										"type": "Expression"
									},
									"pProfiseeEntityName": {
										"value": "@item().ProfiseeEntityName",
										"type": "Expression"
									},
									"pProfiseePort": {
										"value": "@pipeline().parameters.pProfiseePort",
										"type": "Expression"
									},
									"pSourceExtractQuery": {
										"value": "@item().SourceExtractQuery",
										"type": "Expression"
									},
									"pProfiseeEntityQuery": {
										"value": "@item().ProfiseeEntityQuery",
										"type": "Expression"
									},
									"pReferencedEntityQuery": {
										"value": "@string(item().ReferencedEntityQuery)",
										"type": "Expression"
									},
									"pReferencedEntityKeyColumns": {
										"value": "@item().ReferencedEntityKeyColumns",
										"type": "Expression"
									},
									"pReferencedEntityColAlias": {
										"value": "@string(item().ReferencedEntityColAlias)",
										"type": "Expression"
									},
									"pSourceHashColumns": {
										"value": "@item().SourceHashColumns",
										"type": "Expression"
									},
									"pSourceReferenceJoinColumns": {
										"value": "@string(item().SourceReferenceJoinColumns)",
										"type": "Expression"
									},
									"pSourceEntityJoinColumns": {
										"value": "@item().SourceEntityJoinColumns",
										"type": "Expression"
									}
								}
							},
							"linkedServiceName": {
								"referenceName": "lnkAzureDatabricks",
								"type": "LinkedServiceReference"
							}
						}
					]
				}
			}
		],
		"parameters": {
			"pAzureSQLServerName": {
				"type": "string",
				"defaultValue": "sqlsvr-datalake-usc-dev.database.windows.net"
			},
			"pAzureSQLDatabaseName": {
				"type": "string",
				"defaultValue": "sqlsvr-dl-control-usc-dev"
			},
			"pAzureSQLUserName": {
				"type": "string",
				"defaultValue": "DataLake"
			},
			"pAzureSQLSecretName": {
				"type": "string",
				"defaultValue": "DLSqlCntrlConn"
			},
			"pAzureSQLSchemaName": {
				"type": "string",
				"defaultValue": "etl"
			},
			"pAzureSQLTableName": {
				"type": "string",
				"defaultValue": "ControlTableProfisee"
			},
			"pProfiseeHostname": {
				"type": "string",
				"defaultValue": "sqlsvr-masterdata-usc-dev.database.windows.net"
			},
			"pProfiseeDatabase": {
				"type": "string",
				"defaultValue": "Profisee"
			},
			"pProfiseeUsername": {
				"type": "string",
				"defaultValue": "ProfADFUser"
			},
			"pProfiseePasswordKey": {
				"type": "string",
				"defaultValue": "ProfiseeADFPwd"
			},
			"pDatabricksScope": {
				"type": "string",
				"defaultValue": "scp-databricks-usc-dev"
			},
			"pProfiseeAPIKey": {
				"type": "string",
				"defaultValue": "ProfADFExtAccess"
			},
			"pProfiseeHostURL": {
				"type": "string",
				"defaultValue": "profiseedev.pella.com"
			},
			"pAzureSQLPasswordSecret": {
				"type": "string",
				"defaultValue": "DLSqlCntrl"
			},
			"sequenceId": {
				"type": "int",
				"defaultValue": 2
			},
			"pProfiseePort": {
				"type": "string",
				"defaultValue": "1433"
			}
		},
		"variables": {
			"EntityArray": {
				"type": "Array",
				"defaultValue": [
					0,
					1,
					2,
					3,
					4
				]
			},
			"Error": {
				"type": "String"
			}
		},
		"folder": {
			"name": "Profisee"
		},
		"annotations": [],
		"lastPublishTime": "2022-01-17T22:33:58Z"
	},
	"type": "Microsoft.Synapse/workspaces/pipelines"
}